<div class="form-page">
  <header><h1>Edit Cocktail</h1></header>

  <div class="container">
    <div class="form">
      <%= simple_form_for @cocktail do |f| %>
        <div class="content">
          <%= f.file_field :photo %>
          <%= f.input :name %>
        </div>
        <p><%= f.submit %></p>
      <% end %>
    </div>
  </div>
</div>
