.cocktail-card {
  width: 336px!important;
  margin: 40px;
  position: static;
  padding-bottom: 16px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 1px 20px 3px rgba(32, 32, 32, 0.1);
}

.cocktail-card, h2, #title {
  color: black;
  margin-top: 16px;
  font-family: 'Permanent Marker', cursive;
}

.cocktail-card, #photo {
  text-align: center;
  margin-top: 16px;
}

.icons {
  position: relative;
  right: -130px;
  top: -62px;
  font-size: 24px;
}

.icon {
  color: black;
  &:hover {
    color: grey;
  }
}

.cocktail-cards {
  display: grid!important;
  margin-top: 80px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.ingredients {
  display: flex;
  justify-content: space-between;
  margin: 0 16px 0 16px;
}
